---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Contact">
	<main class="wrapper" id="wrapper">
		<div class="bg-beige relative pt-8" id="container-page">
			<Navbar />
			<div class="container py-24 px-20">
				<h1 class="text-[60px] font-light mb-8">Quiero un depa</h1>
				<form method="POST" accept-charset="UTF-8" id="form" class="grid grid-cols-1 md:grid-cols-12 gap-8">
					<div class="col-span-1 md:col-span-6 mb-8">
						<input type="text" name="name" placeholder="Nombres" class="w-full" required />
					</div>
					<div class="col-span-1 md:col-span-6 mb-8">
						<input type="text" name="last_name" placeholder="Apellidos" class="w-full" required />
					</div>
					<div class="col-span-1 md:col-span-12 mb-8">
						<input type="email" name="email" placeholder="Email" class="w-full" required />
					</div>
					<div class="col-span-1 md:col-span-12 mb-8">
						<input type="tel" name="phone" placeholder="Teléfono" class="w-full" required />
					</div>
					<div class="col-span-1 md:col-span-6 mb-8">
						<input type="text" name="district" placeholder="¿En qué distritos estás buscando?" class="w-full" required />
					</div>
					<div class="col-span-1 md:col-span-6 mb-8">
						<h4>¿Cuántos dormitorios quieres?</h4>
						<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
							<div class="col-span-1 md:col-span-1">
								<input type="radio" name="bedrooms" value="1 dorm" required id="bedroom_1" />
								<label for="bedroom_1">1 dorm</label>
							</div>
							<div class="col-span-1 md:col-span-1">
								<input type="radio" name="bedrooms" value="2 dorm" required id="bedroom_2" />
								<label for="bedroom_2">2 dorm</label>
							</div>
							<div class="col-span-1 md:col-span-1">
								<input type="radio" name="bedrooms" value="3 dorm" required id="bedroom_3" />
								<label for="bedroom_3">3 dorm</label>
							</div>
							<div class="col-span-1 md:col-span-1">
								<input type="radio" name="bedrooms" value="4 dorm" required id="bedroom_4" />
								<label for="bedroom_4">4 dorm</label>
							</div>
						</div>
					</div>
					<div class="col-span-1 md:col-span-6 mb-8">
						<h4>¿Qué área necesitas?</h4>
						<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
							<div class="col-span-1 md:col-span-1">
								<input type="checkbox" name="area" value="Menor a 40 m2" required id="area_1" />
								<label for="area_1">Menor a 40 m2</label>
							</div>
							<div class="col-span-1 md:col-span-1">
								<input type="checkbox" name="area" value="Entre 80 y 100 m2" required id="area_2" />
								<label for="area_2">Entre 80 y 100 m2</label>
							</div>
							<div class="col-span-1 md:col-span-1">
								<input type="checkbox" name="area" value="Entre 40 y 60 m2" required id="area_3" />
								<label for="area_3">Entre 40 y 60 m2</label>
							</div>
							<div class="col-span-1 md:col-span-1">
								<input type="checkbox" name="area" value="Más de 100 m2" required id="area_4" />
								<label for="area_4">Más de 100 m2</label>
							</div>
							<div class="col-span-1 md:col-span-1">
								<input type="checkbox" name="area" value="Entre 60 y 80 m2" required id="area_5" />
								<label for="area_5">Entre 60 y 80 m2</label>
							</div>
						</div>
					</div>
					<div class="col-span-1 md:col-span-12 mb-8">
						<input type="text" name="district" placeholder="Presupuesto estimado en soles" class="w-full" required />
					</div>
					<div class="col-span-1 md:col-span-12 mb-8">
						<h4>Cuéntanos un poco más</h4>
						<textarea
							name="aditional"
							id="aditional"
							placeholder="Cuéntanos más sobre el barrio, cómo te lo imaginas, por qué buscas un ubicación en específico, qué ambientes te gustaría que tenga tu depa, que áreas comunes te gustaría que tenga el proyecto..."
							class="w-full"
							required></textarea>
					</div>
					<input type="hidden" name="_gotcha" style="display:none !important" />
					<button type="submit">Enviar</button>
				</form>
			</div>
			<Footer id="footer" />
		</div>
	</main>
</Layout>

<script>
	import emailjs from "@emailjs/browser";
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	import Lenis from "lenis";

	gsap.registerPlugin(ScrollTrigger);

	const lenis = new Lenis({
		lerp: 0.1,
		duration: 1.5,
	});

	lenis.on("scroll", ScrollTrigger.update);

	gsap.ticker.add((time) => {
		lenis.raf(time * 1000);
	});

	gsap.ticker.lagSmoothing(0);

	emailjs.init({
		publicKey: "nGiy3i0bDwsgLhAd4",
		limitRate: {
			id: "caracter",
			throttle: 10000,
		},
	});

	const form: HTMLFormElement = document.getElementById("form") as HTMLFormElement;
	form.addEventListener("submit", formSubmit);

	function formSubmit(e: any) {
		e.preventDefault();
		const formData = new FormData(e.target);
		const formJson = Object.fromEntries(formData);

		try {
			const response = emailjs.send("service_rys8j0k", "template_lf1q3b5", {
				...formJson,
				from_name: "Pepe",
				message: "Mensaje nuevo",
				reply_to: "trenectar@hotmai.com",
			});
			console.log("SUCCESS!", response);
		} catch (error) {
			console.error(error);
		}
	}
</script>
