---
import { AstroFont } from "astro-font";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<AstroFont
			config={[
				{
					src: [],
					name: "Montserrat",
					googleFontsURL: "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap",
					preload: true,
					display: "swap",
					selector: ".font-montserrat",
					fallback: "sans-serif",
				},
				{
					src: [],
					name: "Roboto Slab",
					googleFontsURL: "https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap",
					preload: true,
					display: "swap",
					selector: "body",
					fallback: "sans-serif",
				},
			]}
		/>
	</head>
	<body>
		<slot />
	</body>
</html>
