---
import { AstroFont } from "astro-font";
import { SEO } from "astro-seo";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<SEO
			title="Carácter"
			canonical={Astro.url.href}
			description="Empezamos a decidir cuando escogemos nuestro barrio, cuando entendemos la importancia de la arquitectura, la luz, la distribución de los espacios"
			,
			openGraph={{
				basic: {
					title: title,
					type: "website",
					image: "https://caracter.josephfc.dev/billboard.png",
					url: "https://caracter.josephfc.dev",
				},
				optional: {
					description:
						"Empezamos a decidir cuando escogemos nuestro barrio, cuando entendemos la importancia de la arquitectura, la luz, la distribución de los espacios",
					locale: "es_PE",
					localeAlternate: ["es_ES", "en_US"],
				},
			}}
			,
			twitter={{
				image: "https://caracter.josephfc.dev/billboard.png",
				title: "Carácter",
				description:
					"Empezamos a decidir cuando escogemos nuestro barrio, cuando entendemos la importancia de la arquitectura, la luz, la distribución de los espacios",
			}}
			,
			extend={{
				link: [{ rel: "icon", type: "image/svg+xml", href: "/favicon.svg" }],
				meta: [
					{
						name: "themeColor",
						content: "#383833",
					},
					{
						name: "colorScheme",
						content: "dark",
					},
				],
			}}
		/>
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, target-densityDpi=device-dpi, minimal-ui" />
		<meta name="keywords" content="Carácter, caracter, inmobiliaria, inmobiliarias, inmobiliario, inmobiliarios, inmobiliarias, inmobiliaria, inmobiliarios" />
		<meta name="robots" content="index" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<AstroFont
			config={[
				{
					src: [],
					name: "Montserrat",
					googleFontsURL: "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap",
					preload: true,
					display: "swap",
					selector: ".font-montserrat",
					fallback: "sans-serif",
				},
				{
					src: [],
					name: "Roboto Slab",
					googleFontsURL: "https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap",
					preload: true,
					display: "swap",
					selector: "body",
					fallback: "sans-serif",
				},
			]}
		/>
	</head>
	<body>
		<div id="viewport">
			<slot />
		</div>
	</body>
</html>

<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	import Lenis from "lenis";

	gsap.registerPlugin(ScrollTrigger);

	const lenis = new Lenis({
		lerp: 0.1,
		duration: 1.5,
	});

	lenis.on("scroll", ScrollTrigger.update);

	gsap.ticker.add((time) => {
		lenis.raf(time * 1000);
	});

	gsap.ticker.lagSmoothing(0);

	const anchorLinks = [...document.querySelectorAll<HTMLAnchorElement>("a[href][data-lenis-scroll]")]
		.filter((a) => a.href.includes("/#"))
		.forEach((a) => {
			a.addEventListener("click", (e) => {
				e.preventDefault();
				const href = "#" + a.href?.split("/#").at(-1);

				lenis.scrollTo(href);
			});
		});
</script>

<style is:global>
	main {
		margin: 0 auto;
	}
	html.lenis,
	html.lenis body {
		height: auto;
	}

	.lenis.lenis-smooth {
		scroll-behavior: auto !important;
	}

	.lenis.lenis-smooth [data-lenis-prevent] {
		overscroll-behavior: contain;
	}

	.lenis.lenis-stopped {
		overflow: clip;
	}

	.lenis.lenis-smooth iframe {
		pointer-events: none;
	}

	.dynamic-padding {
		padding-left: calc((100vw - 640px) / 2); /* Predeterminado para el primer breakpoint */
	}

	@media (min-width: 768px) {
		.dynamic-padding {
			padding-left: calc((100vw - 700px) / 2);
		}
	}

	@media (min-width: 1024px) {
		.dynamic-padding {
			padding-left: calc((100vw - 965px) / 2);
		}
	}

	@media (min-width: 1280px) {
		.dynamic-padding {
			padding-left: calc((100vw - 1208px) / 2);
		}
	}

	@media (min-width: 1536px) {
		.dynamic-padding {
			padding-left: calc((100vw - 1462px) / 2);
		}
	}

	strong,
	b {
		font-weight: 600;
	}

	form input[type="text"],
	form input[type="email"],
	form input[type="tel"],
	form input[type="number"],
	form textarea {
		@apply bg-transparent border-b border-b-grafito placeholder:text-grafito/90 text-grafito  h-[48px] outline-none text-[18px];
	}
	form textarea {
		@apply h-auto resize-y min-h-[100px] pb-4 placeholder:text-grafito/30;
		field-sizing: content;
	}
	form h4 {
		@apply text-grafito text-[23px] mb-6 mt-2;
	}
	form input[type="radio"] {
	}
</style>
